<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World! 01</title>
</head>
<body>
Origin: {{.}}

Double: {{. | fdouble}}

Square: {{. | fdouble | fsquare}}

Square root: {{. | fdouble | fsquare | fsqroot}}
</body>
</html>