<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World! 01</title>
</head>
<body>

EXAMPLE #1
{{.}}

EXAMPLE #2 gt
{{if gt .Score1 .Score2}}
SCORE 1 > SCORE2
{{end}}

EXAMPLE #3 ge
{{if ge .Score1 .Score2}}
SCORE 1 >= SCORE2
{{end}}

EXAMPLE #4 lt
{{if lt .Score1 .Score2}}
SCORE 1 < SCORE2
{{end}}

EXAMPLE #5 le
{{if le .Score1 .Score2}}
SCORE 1 <= SCORE2
{{end}}

EXAMPLE #6 eq
{{if eq .Score1 .Score2}}
SCORE 1 = SCORE2
{{end}}

EXAMPLE #7 ne
{{if ne .Score1 .Score2}}
SCORE 1 != SCORE2
{{end}}

</body>
</html>