<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
        {{range .Breakfast.Items}}
            {{.Name}} - {{.Description}} - {{.Price}}
        {{end}}
{{end}}

{{range .}}
        {{range .Lunch.Items}}
            {{.Name}} - {{.Description}} - {{.Price}}
        {{end}}
{{end}}

{{range .}}
        {{range .Dinner.Items}}
            {{.Name}} - {{.Description}} - {{.Price}}
        {{end}}
{{end}}

</body>
</html>